[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "==1.2.12"

[dev-packages]
mypy = "*"
pylint = "*"
black = "*"
pyfakefs = "==3.5"

[requires]
python_version = "3.7"
